@page
@model DetailModel
@{
    ViewData["Title"] = "Product Details";
}
<h1>@ViewData["Title"]</h1>

<p>The medical products are split into several different categories including: </p>

<ul>
    <li>
        Surgical Gloves
        <ul>
            <li>
                Latex Gloves
            </li>
            <li>
                Synthetic Gloves
            </li>
        </ul>
    </li>
    <li>
        Antiseptics
        <ul>
            <li>
                Hydrogen Peroxide
            </li>
            <li>
                Chlorhexidine Gluconate
            </li>
        </ul>
    </li>
    <li>
        More products on the way...
    </li>
</ul>

<p> More details on the <u>List</u> tab </p>

