@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Product Web Application</h1>
    <p>
    <p>
        This is a simple application demonstrating Entity Framework Core in an
        ASP.NET Core MVC web application.
    </p>
    </p>
</div>